/* Navigation styles */
.navbar {
    background-color: #ffa07a;
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
  }
  
  .nav-item {
    margin-right: 20px;
    text-decoration: none;
    color: #fff !important;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }
  
  .nav-item.active {
    margin-right: 20px;
    text-decoration: none;
    color: rgb(241, 108, 60) !important;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    font-weight: bold;
  }
  .nav-link:hover {
    color: #777;
    transform: translateY(-3px);
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-item.active .nav-link {
    color: #ff9900;
    font-weight: bold;
  }